# Auto detect text files and perform LF normalization
* text=auto

*.c linguist-language=C
*.h linguist-language=C
*.asm linguist-language=Assembly
*.nasm linguist-language=Assembly
*.inc linguist-language=Assembly
*.bat linguist-detectable=false